# Python
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
.env

# VS Code
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Nginx / Certbot
*.pem

# GitHub Actions temp
.github/workflows/*.log
